		<!-- Sidebar -->
		<div id="sidebar">
			<!-- Random add-ons widget-->
			###RANDOM_ADDONS_WIDGET###
			<!-- Tabbed Box -->
			###ADDON_STATISTICS_WIDGET###
			<!-- Top Delevopers Widget -->
			###TOP_DEVELOPERS_WIDGET###

			<div class="widget-container">
				<h2>Guides</h2>
				<ul>
					<li><img src='images/pin.png' height='22' width='22' /><a href='http://kodi.wiki/index.php?title=How_to_install_an_Add-on_from_a_zip_file' > Install an Add-on from a zip file</a></li>
					<li><img src='images/pin.png' height='22' width='22' /><a href='http://kodi.wiki/index.php?title=How_to_install_an_Add-on_using_the_GUI' > Install an Add-on from the GUI</a></li>
					<li><img src='images/pin.png' height='22' width='22' /><a href='http://kodi.wiki/index.php?title=Submitting_Add-ons' > How to submit an Add-on</a></li>
					<li><img src='images/pin.png' height='22' width='22' /><a href='http://kodi.wiki/index.php?title=Add-on_development' > Add-on Development</a></li>
					<li><img src='images/pin.png' height='22' width='22' /><a href='http://kodi.wiki/index.php?title=HOW-TO:HelloWorld_addon' > Hello World Tutorial</a></li>
					<li><img src='images/pin.png' height='22' width='22' /><a href='http://kodi.wiki/index.php?title=XBMC_Skinning_Tutorials'> Skinning Tutorials</a></li>
				</ul>
			</div>
		</div>